@charset "UTF-8";

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  outline: none;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansHebrew";
  src: url("../fonts/OpenSansHebrew-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansHebrew";
  src: url("../fonts/OpenSansHebrew-Bold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CormorantSC";
  src: url("../fonts/CormorantSC-Bold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.heading {
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #303036;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #303036;
}

html,
body {
  height: 100%;
  margin: 0;
}

ul,
li {
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

input {
  outline: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.unvisible {
  position: absolute;
  left: -3000px;
  overflow: hidden;
  width: 0;
  height: 0;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo--header {
  height: 50px;
}

.button {
  padding: 10px 22px;
  background-color: #988A75;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: "OpenSans";
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
}

.button--header {
  padding: 16px 64px;
  font-size: 16px;
}

.header {
  position: relative;
  padding-top: 26px;
  padding-bottom: 26px;
  font-family: "OpenSans";
  background-color: #EEF2E9;
}

.header::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.header--bg {
  background: url(../images/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top 30%;
  z-index: 1;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__phone {
  font-size: 14px;
  line-height: 16px;
  color: #303036;
}

.header__content {
  margin-top: 120px;
  margin-bottom: 160px;
  padding-left: 550px;
}

.header__title {
  position: relative;
  font-family: inherit;
  font-weight: 600;
  font-size: 56px;
  line-height: 72px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 25px;
  z-index: 2;
}

.header__title::after {
  position: absolute;
  content: "Акварельный дизайн";
  top: -5px;
  left: 0;
  font-family: "CormorantSC";
  font-weight: 600;
  font-style: italic;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: 0;
  color: rgba(48, 48, 54, 0.08);
  text-transform: uppercase;
  z-index: -1;
}

.header__text {
  font-family: "Raleway";
  line-height: 24px;
  margin-bottom: 40px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  line-height: 20px;
  color: #303036;
}

.nav__link::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #303036;
  width: 0%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav__link:hover::after {
  width: 85%;
}

.intro {
  padding-top: 120px;
  padding-bottom: 75px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(48.23%, #EEF2E9), to(#EEF2E9));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #EEF2E9 48.23%, #EEF2E9 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #EEF2E9 48.23%, #EEF2E9 100%);
}

.intro__head {
  text-transform: uppercase;
  margin-bottom: 22px;
}

.intro__right {
  margin-bottom: 120px;
  margin-left: 380px;
}

.author {
  padding-top: 75px;
  padding-bottom: 100px;
  background-color: #EEF2E9;
}

.author__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.author__bio {
  width: 500px;
}

.author__head {
  margin-bottom: 5px;
  text-transform: uppercase;
}

.author__subtitle {
  display: block;
  line-height: 20px;
  color: #999696;
  margin-bottom: 30px;
}

.author__image {
  width: 352px;
  border-radius: 25px;
  overflow: hidden;
  -webkit-filter: drop-shadow(2px 2px 25px rgba(48, 48, 54, 0.15));
          filter: drop-shadow(2px 2px 25px rgba(48, 48, 54, 0.15));
}