@charset "UTF-8";

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  outline: none;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansHebrew";
  src: url("../fonts/OpenSansHebrew-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansHebrew";
  src: url("../fonts/OpenSansHebrew-Bold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CormorantSC";
  src: url("../fonts/CormorantSC-Bold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.heading {
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #303036;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #303036;
}

html,
body {
  height: 100%;
  margin: 0;
}

ul,
li {
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

input {
  outline: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.unvisible {
  position: absolute;
  left: -3000px;
  overflow: hidden;
  width: 0;
  height: 0;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo--header {
  height: 50px;
}

.heading {
  text-transform: uppercase;
}

.button {
  padding: 10px 22px;
  background-color: #988A75;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: "OpenSans";
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
}

.button--nav {
  font-size: 14px;
}

.button--header {
  padding: 16px 64px;
  font-size: 16px;
}

.label {
  position: relative;
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: #988A75;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.label::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -430px;
  width: 407px;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(152, 138, 117, 0)), to(#988a75));
  background: -o-linear-gradient(left, rgba(152, 138, 117, 0) 0%, #988a75 100%);
  background: linear-gradient(90deg, rgba(152, 138, 117, 0) 0%, #988a75 100%);
}

.label::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 91px;
  width: 407px;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#988a75), to(rgba(197, 207, 196, 0)));
  background: -o-linear-gradient(left, #988a75 0%, rgba(197, 207, 196, 0) 100%);
  background: linear-gradient(90deg, #988a75 0%, rgba(197, 207, 196, 0) 100%);
}

.header {
  position: relative;
  padding-top: 26px;
  padding-bottom: 26px;
  font-family: "OpenSans";
  background-color: #EEF2E9;
}

.header::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.header--bg {
  background: url(../images/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top 30%;
  z-index: 1;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__phone {
  font-size: 14px;
  line-height: 16px;
  color: #303036;
}

.header__content {
  margin-top: 120px;
  margin-bottom: 160px;
  padding-left: 550px;
}

.header__title {
  position: relative;
  font-family: inherit;
  font-weight: 600;
  font-size: 56px;
  line-height: 72px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 25px;
  z-index: 2;
}

.header__title::after {
  position: absolute;
  content: "Акварельный дизайн";
  top: -5px;
  left: 0;
  font-family: "CormorantSC";
  font-weight: 600;
  font-style: italic;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: 0;
  color: rgba(48, 48, 54, 0.08);
  text-transform: uppercase;
  z-index: -1;
}

.header__text {
  font-family: "Raleway";
  line-height: 24px;
  margin-bottom: 40px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  line-height: 20px;
  color: #303036;
}

.nav__link::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #303036;
  width: 0%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav__link:hover::after {
  width: 85%;
}

.intro {
  padding-top: 120px;
  padding-bottom: 75px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(48.23%, #EEF2E9), to(#EEF2E9));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #EEF2E9 48.23%, #EEF2E9 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #EEF2E9 48.23%, #EEF2E9 100%);
}

.intro__head {
  text-transform: uppercase;
  margin-bottom: 22px;
}

.intro__right {
  margin-bottom: 120px;
  margin-left: 380px;
}

.author {
  padding-top: 75px;
  padding-bottom: 100px;
  background-color: #EEF2E9;
}

.author__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.author__bio {
  width: 500px;
}

.author__head {
  margin-bottom: 5px;
  text-transform: uppercase;
}

.author__subtitle {
  display: block;
  margin-bottom: 30px;
  line-height: 20px;
  color: #999696;
}

.author__image {
  width: 352px;
  border-radius: 25px;
  overflow: hidden;
  -webkit-filter: drop-shadow(2px 2px 25px rgba(48, 48, 54, 0.15));
          filter: drop-shadow(2px 2px 25px rgba(48, 48, 54, 0.15));
}

.course {
  padding-top: 120px;
  padding-bottom: 120px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(196, 196, 196, 0)), color-stop(18.75%, rgba(196, 208, 177, 0.12)), to(#C4D0B1));
  background: -o-linear-gradient(top, rgba(196, 196, 196, 0) 0%, rgba(196, 208, 177, 0.12) 18.75%, #C4D0B1 100%);
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(196, 208, 177, 0.12) 18.75%, #C4D0B1 100%);
}

.course__promo {
  position: relative;
  max-width: 928px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 70px 31px 70px 480px;
  background: no-repeat url(../images/works/work_01.jpg) left center;
  background-size: 60%;
  border-radius: 25px;
  overflow: hidden;
  -webkit-filter: drop-shadow(2px 2px 25px rgba(48, 48, 54, 0.15));
          filter: drop-shadow(2px 2px 25px rgba(48, 48, 54, 0.15));
}

.course__promo::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(2, 0, 36, 0)), color-stop(55%, #c5cfc4), to(#c5cfc4));
  background: -o-linear-gradient(left, rgba(2, 0, 36, 0) 0%, #c5cfc4 55%, #c5cfc4 100%);
  background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, #c5cfc4 55%, #c5cfc4 100%);
  z-index: -1;
}

.course__title {
  margin-bottom: 25px;
  font-family: "CormorantSC";
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.course__text {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 27px;
}

.course__button {
  background-color: #ffffff;
  border-radius: 10px;
  color: #303036;
  padding: 16px 63px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.course__label--icon {
  width: 44px;
  height: 44px;
}

.course__composition {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 170px;
}

.course__head {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.course__head--step {
  text-align: center;
  margin-bottom: 50px;
}

.course__subtitle {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #999696;
  margin-bottom: 28px;
}

.course__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 45px;
}

.course__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course__icon:not(:last-child) {
  margin-right: 45px;
}

.course__icon img {
  width: 46px;
  height: 46px;
  background-color: #988A75;
  border-radius: 50%;
  padding: 11px;
  margin-right: 20px;
}

.course__date--info {
  display: block;
  color: #999696;
}

.course__date--step {
  font-size: 22px;
  line-height: 32px;
}

.course__lessons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 80px !important;
  padding-right: 80px;
}

.course__unit {
  position: relative;
  width: 448px;
  padding: 30px 35px;
  margin: 0 16px 30px 16px;
  background-color: #ffffff;
  border-radius: 20px;
}

.course__unit::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  left: 0;
  height: 45px;
  pointer-events: none;
}

.course__name {
  font-family: "OpenSans";
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: left;
  margin-bottom: 0;
}

.course__description {
  margin-top: 10px;
  line-height: 24px;
  color: #999696;
  text-align: left;
}

.course__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.course__step {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 256px;
}

.course__step img {
  width: 94px;
  height: 94px;
  padding: 15px;
  margin-bottom: 28px;
  background-color: #ffffff;
  border-radius: 10px;
}

.course__step:not(:last-child):before {
  content: "";
  position: absolute;
  top: 46px;
  left: 199px;
  width: 146px;
  height: 1px;
  background-color: #303036;
}

.active .course__name::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.accordeon {
  overflow: hidden;
}

.accordeon__name {
  position: relative;
  cursor: pointer;
}

.accordeon__name::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background: url(../images/icons/sprite.svg#plus) no-repeat center center;
  height: 16px;
  width: 16px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.accordeon__content {
  margin: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.active .accordeon__content {
  margin-top: 15px;
  opacity: 1;
  padding: 0 5px;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.sertificat__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

.sertificat__info {
  width: 534px;
}

.sertificat__head {
  margin-bottom: 43px;
}

.sertificat__item {
  position: relative;
  padding-left: 67px;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #999696;
}

.sertificat__item:not(:last-child) {
  margin-bottom: 25px;
}

.sertificat__item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #988A75 url(../images/icons/sprite.svg#done) no-repeat center center;
  background-size: 80%;
}

.sertificat__image {
  position: relative;
  width: 410px;
  border-radius: 25px;
  overflow: hidden;
  z-index: 3;
}

.reviews {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #EEF2E9;
}

.reviews__head {
  text-align: center;
  margin-bottom: 50px;
}

.reviews__sliders {
  margin-bottom: 90px;
}

.reviews__slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 928px;
  height: 382px;
  margin: 0 auto;
  padding: 85px 90px;
  -webkit-box-shadow: 2px 2px 20px rgba(48, 48, 54, 0.15);
          box-shadow: 2px 2px 20px rgba(48, 48, 54, 0.15);
  border-radius: 25px;
  z-index: 1;
  overflow: hidden;
}

.reviews__slider::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(../images/works/03.jpg) no-repeat center/cover;
  opacity: 0.2;
}

.reviews__avatar {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 212px;
          flex: 0 0 212px;
  width: 212px;
  height: 212px;
  margin-right: 82px;
  border-radius: 25px;
  z-index: 2;
  overflow: hidden;
}

.reviews__message {
  z-index: 4;
}

.reviews__text {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  color: #999696;
}

.reviews__author {
  font-family: "OpenSans";
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #303036;
}

.reviews__label {
  margin-bottom: 90px;
}

.reviews__photos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (351px)[3];
  grid-template-columns: repeat(3, 351px);
  -ms-grid-rows: (351px)[2];
  grid-template-rows: repeat(2, 351px);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.reviews__photo--big {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  width: 352px;
  height: 732px;
  border-radius: 25px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 20px rgba(48, 48, 54, 0.15);
          box-shadow: 2px 2px 20px rgba(48, 48, 54, 0.15);
}

.reviews__photo--small {
  width: 351px;
  height: 351px;
  border-radius: 25px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 20px rgba(48, 48, 54, 0.15);
          box-shadow: 2px 2px 20px rgba(48, 48, 54, 0.15);
}