@media ( max-width:1100px )

  .header__content
    margin-bottom: 120px

  .intro__right
    margin-left: 180px

  .course
    &__lessons
      padding-left: 0 !important
      justify-content: space-between
    &__unit
      width: 46%
    &__step
      &:not(:last-child)
        &:before
          left: 87%
          width: 30%
