@media ( max-width:992px )
  .label::before,
  .label::after
    width: 300px

  .nav
    order: 2
    flex-basis: 100%
    margin-top: 20px
    &__list
      justify-content: space-around

  .header
    padding-bottom: 0
    &__navigation
      flex-wrap: wrap
    &__content
      margin-bottom: 120px

  .course
    &__unit
      width: 45%
    &__promo
      max-width: 85%
      padding: 40px 40px 40px 100px
    &__step
      &:not(:last-child)
        &:before
          left: 91%
          width: 20%

  .intro__right
    margin-left: 30%

  .author
    &__bio
      padding-right: 10px
      width: 55%
    &__image
      width: 45%

  .reviews
    &__photos
      gap: 20px
    &__slide
      width: 95%
      padding: 55px 0
    &__message
      width: 55%

  .order
    &__package
      padding: 80px 25px
