.course
  padding-top: 120px
  padding-bottom: 120px
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(196, 208, 177, 0.12) 18.75%, #C4D0B1 100%)
  &__promo
    position: relative
    max-width: 928px
    margin: 0 auto
    margin-bottom: 50px
    padding: 70px 31px 70px 480px
    background: no-repeat url(../images/works/work_01.jpg) left center
    background-size: 60%
    @include image
    &::after
      position: absolute
      content: ''
      top: 0
      bottom: 0
      left: 0
      // right: 0
      width: 100%
      height: 100%
      background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(197,207,196,1) 55%, rgba(197,207,196,1) 100%)
      z-index: -1
      // transform: rotate(-90deg)
  &__title
    margin-bottom: 25px
    font-family: "CormorantSC"
    font-weight: 600
    font-size: 32px
    line-height: 48px
    letter-spacing: 0.02em
    text-transform: uppercase
    color: #FFFFFF
  &__text
    margin-bottom: 50px
    font-size: 18px
    line-height: 27px
  &__button
    background-color: $bgc
    border-radius: 10px
    color: $text
    padding: 16px 63px
    font-size: 16px
    line-height: 16px
    text-transform: uppercase
  &__label
    &--icon
      width: 44px
      height: 44px
  &__composition
    margin: 0 auto
    text-align: center
    margin-bottom: 170px
  &__head
    text-transform: uppercase
    margin-bottom: 20px
    &--step
      text-align: center
      margin-bottom: 50px
  &__subtitle
    display: block
    font-size: 18px
    line-height: 24px
    color: $text_light
    margin-bottom: 28px
  &__data
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 45px
  &__icon
    display: flex
    align-items: center
    &:not(:last-child)
      margin-right: 45px
    img
      width: 46px
      height: 46px
      background-color: $icon
      border-radius: 50%
      padding: 11px
      margin-right: 20px
    &--duration
    &--info
    &--quantity
  &__date
    &--info
      display: block
      color: $text_light
    &--step
      font-size: 22px
      line-height: 32px
  &__lessons
    display: flex
    flex-wrap: wrap
    padding-left: 80px
    padding-right: 80px
  &__unit
    width: 448px
    padding: 30px 35px
    margin: 0 16px 30px 16px
    background-color: $bgc
    border-radius: 20px
  &__name
    position: relative
    font-family: "OpenSans"
    font-weight: 400
    font-size: 28px
    line-height: 32px
    text-align: left
    margin-bottom: 10px
    cursor: pointer
    &::before
      content: ''
      position: absolute
      top: 0
      right: 0
      transition: all 0.5s ease-out
      //transform: rotate(0deg)
      background: url(../images/icons/plus.svg) no-repeat center center
      height: 16px
      width: 16px
      background-color: transparent
      cursor: pointer
      outline: none
  &__description
    line-height: 24px
    color: $text_light
    text-align: left
  &__howto

  &__steps
    @include fl-all
  &__step
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    width: 256px
    img
      width: 94px
      height: 94px
      padding: 15px
      margin-bottom: 28px
      background-color: $bgc
      border-radius: 10px
    &:not(:last-child)
      &:before
        content: ''
        position: absolute
        top: 46px
        left: 199px
        width: 146px
        height: 1px
        background-color: $text
