.header
  background-color: $green_light
  padding-top: 26px
  padding-bottom: 26px
  font-family: "OpenSans"
  &__navigation
    @include fl-all
  &__phone
    font-size: 14px
    line-height: 16px
    color: $text

.button--nav
