@media ( min-width: 992px )
  .button
    &:hover
      // transform: scale(1.02)
      background-color: darken($icon, 5%)
      box-shadow: 2px 2px 20px rgba(48, 48, 54, 0.15)
    &--nav
      &:hover
        transform: none

  .nav__link
    &:hover
      &::after
        width: 85%

  .course
    &__unit
      &:hover
        transform: scale(1.02)
    &__button
      &:hover
        background-color: darken($bgc, 3%)

  .reviews__photo-small img
    &:hover
      transform: scale(1.1)
  .reviews__photo-big img
    &:hover
      transform: scale(1.1)

  .order
    &__package
      &:hover
        background: $icon
        color: $bgc
        h2
          color: $bgc
    &__button
      &:hover
        background-color: darken($bgc, 3%)

  .footer
    &__email
      &:hover
        text-decoration: underline
    &__social
      &:hover
        background: #3d362c
        // background: $icon
