.reviews
  padding-top: 100px
  padding-bottom: 100px
  background-color: $green_light
  &__head
    text-align: center
    margin-bottom: 30px
  &__sliders
    margin-bottom: 70px
  &__slide
    position: relative
    @include fl-c
    width: 928px
    margin: 20px auto 75px
    padding: 85px 0px
    box-shadow: 2px 2px 20px rgba(48, 48, 54, 0.15)
    border-radius: 25px
    z-index: -1
    overflow: hidden
    &::after
      content: ''
      position: absolute
      top: 0
      bottom: 0
      right: 0
      left: 0
      background: url(../images/works/03.jpg) no-repeat center / cover
      // background-color: #fff
      opacity: 0.2
  &__avatar
    position: relative
    flex: 0 0 212px
    width: 212px
    height: 212px
    margin-right: 82px
    border-radius: 25px
    z-index: 2
    overflow: hidden
    // &::before
    //   position: absolute
    //   content: ''
    //   top: 0
    //   left: 0
    //   right: 0
    //   bottom: 0
    //   background: url(../images/.jpg) no-repeat center / cover
    //   // background-color: rgba(#fff, 0.5)
  &__message
    z-index: 4
    width: 448px
  &__text
    margin-bottom: 20px
    font-size: 18px
    line-height: 26px
    color: $text_light
  &__author
    font-family: "OpenSans"
    font-size: 28px
    line-height: 32px
    letter-spacing: 0.02em
    color: $text
  &__label
    margin-bottom: 90px
  &__photos
    display: grid
    grid-template-columns: repeat(3, 31%)
    grid-template-rows: repeat(2, 48%)
    justify-self: center
    align-self: center
    gap: 30px
  &__photo-big
    grid-column: 1/2
    grid-row: 1/3
    // width: 352px
    width: 100%
    // height: 732px
    height: 100%
    @include image
    transition: ease-out 0.3s
  &__photo-small
    // width: 351px
    width: 100%
    // height: 351px
    height: 100%
    @include image
    transition: ease-out 0.3s
  &-button
    position: absolute
    top: 45%
    transform: translateY(-50%)
    border: 2px solid $icon
    fill: $icon
    width: 56px
    height: 56px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    background-color: transparent
    cursor: pointer
    outline: none
    z-index: 50
    transition: linear 0.3s
    &:hover
      border: 2px solid $icon
      background-color: $icon
      fill: $bgc
    &--left
      left: 0
    &--right
      right: 0

// .swiper-pagination-bullets
  // bottom: -10px !important
.swiper-pagination-bullet
  background: #fff
  opacity: 1
.swiper-pagination-bullet-active
  background: $icon
