$bgc: #ffffff
$text: #303036
$green_light: #EEF2E9
$green_dark: #C4D0B1
$icon: #988A75

%heading
  font-family: 'OpenSansHebrew', sans-serif
  font-weight: 600
  font-size: 32px
  line-height: 48px

%body
  font-family: 'Raleway', sans-serif
  font-weight: 400
  font-size: 16px
  line-height: 32px
